<h2 class='nav-exclude'>Table of Contents</h2>

* [The Origin of the Greyhound](./origin.html)
* [Greyhounds are Fantabulous](./fantabulousness.html)

## Fun Facts about Greyhounds

* [Grey?](./colors.html)
* [Houndy](./hounds.html)
