<div id="sub-nav" class="nav-container js-sidenav" role="navigation" >
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <%= render_links @links %>
  </div>
</div>
