$em-base: 16px !default;

// ~BEGIN BASE VALUES
// ===================================================
$font-primary: 'Source Sans Pro', sans-serif;
$font-size-xxl: 2.441em;
$font-size-xl: 1.953em;
$font-size-l: 1.563em;
$font-size-m: 1.25em;
$font-size-s: 1em;
$font-size-xs: 0.8em;

$gray1: #424242;
$gray2: #686868;
$gray3: #b5b5b5;
$gray4: #eceae9;
$gray5: #f8f8f8;
$gray6: #fdfdfd;

// Book-specific overrides
@import "book-base-values.scss";

$color-accent: $gray6;
$color-accent-bright: $gray6;
$color-accent-bright-contrast: #000000;

// text colors
$color-header: $gray2;
$color-text: $gray1;
$color-text-dim: $gray3;

// link colors
$color-link: #b5292e;
$color-link-border: #154896;

// border colors
$color-border-row: $gray5;
$color-border: $gray4;
$color-border-light: $gray4;
$color-border-superlight: $gray4;
$color-border-dark: $gray3;
$color-border-tip: $gray1;

// background-colors
$color-bg: $gray5;
$color-bg-light: $gray6;
$color-bg-panel: $gray5;
$color-bg-header: #b625ff;
$color-bg-dark: #523f74;

// ~SIZES
// ===================================================
$radius: 3px;
$sidenav-wide: 278px/$em-base + 0em;
$sidenav-widest: 367px/$em-base + 0em;

// ~BREAKPOINTS
// ===================================================
$bp-superwide: 1340px/$em-base + 0em;
$bp-widest: 900px/$em-base + 0em;
$bp-wide: 700px/$em-base + 0em;

@import "layout-vars.scss";
@import "book-vars.scss";
